<div class="content">
    <ng-container *ngIf="!purchasePriceFormControl.value">
        <div class="purchasePricePromptContainer">
            <h1 class="title">
                Mortgage <img src="icon-black.png" class="icon">
            </h1>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Purchase Price</mat-label>
                <input currencyMask matInput [min]="0" [(ngModel)]="initialPurchasePriceNgModel" [options]="{ align: 'left' }"/>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="purchasePriceFormControl.value">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Configurations</mat-panel-title>
              </mat-expansion-panel-header>
              <div class="metadata-configurations-container">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Purchase Price</mat-label>
                    <input currencyMask matInput [min]="0" [(ngModel)]="purchasePriceNgModel" [options]="{ align: 'left' }"/>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Start date</mat-label>
                    <input matInput [matDatepicker]="picker" readonly [formControl]="startDateFormControl">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Term Years</mat-label>
                    <mat-select [formControl]="termYearsFormControl">
                        <mat-option [value]="10">10 years</mat-option>
                        <mat-option [value]="15">15 years</mat-option>
                        <mat-option [value]="20">20 years</mat-option>
                        <mat-option [value]="25">25 years</mat-option>
                        <mat-option [value]="30">30 years</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-container>
    <div class="results-container" *ngIf="purchasePriceFormControl.value">
        <div class="result">
            <b>DATE COMPLETE</b>
            <div class="date">{{paymentDates.at(-2)}}</div>
        </div>
        <div class="result">
            <b>TOTAL INTEREST</b>
            <div class="interest">{{formatToCurrency(totalInterest)}}</div>
        </div>
    </div>
    <ng-container *ngIf="purchasePriceFormControl.value">
        <div class="chart-container">
            <canvas
                baseChart
                [data]="chartData"
                [options]="chartOptions"
                [type]="'line'"
            >
            </canvas>
        </div>
        <mat-tab-group animationDuration="0">
            <mat-tab label="INTEREST">
                <div class="slider-configuration">
                    <h3 class="title">
                        {{interestFormControl.value}}%
                    </h3>
                    <mat-slider
                        [max]="10"
                        [min]="0.1"
                        [step]="0.1"
                    >
                        <input [formControl]="interestFormControl" matSliderThumb #slider>
                    </mat-slider>
                </div>
            </mat-tab>
            <mat-tab label="EXTRA PER PAYMENT">
                <div class="slider-configuration">
                    <h3 class="title">
                        {{formatToCurrency(lumpSumFormControl.value)}}
                    </h3>
                    <mat-slider
                        [max]="0.01 * purchasePriceFormControl.value"
                        [min]="0"
                        [step]="1"
                    >
                        <input [formControl]="lumpSumFormControl" matSliderThumb #slider>
                    </mat-slider>
                </div>
            </mat-tab>
            <mat-tab label="DOWN PAYMENT">
                <div class="slider-configuration">
                    <h3 class="title">
                        {{formatToCurrency(downPaymentFormControl.value)}}
                    </h3>
                    <mat-slider
                        [max]="0.2 * purchasePriceFormControl.value"
                        [min]="0"
                        [step]="1000"
                    >
                        <input [formControl]="downPaymentFormControl" matSliderThumb #slider>
                    </mat-slider>
                </div>
            </mat-tab>
        </mat-tab-group>
    </ng-container>
</div>
